.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    text-align: left;
    background-color: black;
    line-height: 40px;
    padding-left: 50px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 10px;
    font-size: 20px;
}
.header nav a:hover{
    background-color: gray;
}